<!-- <p>index works!</p> -->
<div class="carousel-wrapper">
    <owl-carousel-o [options]="customOptions" class="banner-wrapper  header-carousel">
        <ng-container *ngFor="let slide of carouselSlides">
            <ng-template carouselSlide>
                <div class="top-0 start-0 w-100 d-flex align-items-center bg-banner {{ slide.bgClass }}"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start h-100">
                            <div class="col-sm-10 col-lg-8 h-100">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">{{ slide.title }}</h5>
                                <h1 class="display-3 text-white animated slideInDown">{{ slide.subtitle }}</h1>
                                <p class="fs-5 text-white mb-4 pb-2">{{ slide.description }}</p>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>



    <!-- Service Start -->
    <div class="container-xxl py-5 services">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fas fa-shipping-fast text-primary mb-4"></i>
                            <h5 class="mb-3">free shipping</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fas fa-headset text-primary mb-4"></i>
                            <h5 class="mb-3">24/7 support</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-money-check text-primary mb-4"></i>
                            <h5 class="mb-3">100% money back</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

  <!-- Categories Start -->
  <div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
            <h1 class="mb-5">Product Categories</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="assets/images/cat-1.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Category-1</h5>
                                <small class="text-primary">49 Prducts</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="assets/images/cat-2.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Category-2</h5>
                                <small class="text-primary">49 Prducts</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="assets/images/cat-3.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">Category-3</h5>
                                <small class="text-primary">49 Prducts</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/images/cat-4.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">Category-4</h5>
                        <small class="text-primary">49 Prducts</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Categories Start -->
 <!-- Courses Start -->
 <div class="container-xxl py-5 course-yellow">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-yellow px-3">Products</h6>
            <h1 class="mb-5">Popular Products</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-md-6 wow fadeInUp" *ngFor="let course of courses; let i = index" [attr.data-wow-delay]="(i+1) * 0.2 + 's'">
              <div class="course-item bg-yellow">
                <div class="position-relative overflow-hidden">
                  <img class="img-fluid" [src]="course.image" alt="">
                  <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                    <a href="#" class="flex-shrink-0 btn btn-sm btn-warning px-3 border-end" style="border-radius: 30px 0 0 30px;">
                      <i class="fa fa-cart-plus text-black me-2"></i></a>
                    <a href="#" class="flex-shrink-0 btn btn-sm btn-warning px-3" style="border-radius: 0 30px 30px 0;">
                      <i class="far fa-heart text-back me-2"></i>
                    </a>
                  </div>
                </div>
                <div class="text-center p-4 pb-0">
                  <h3 class="mb-0">{{ course.price }}</h3>
                  <div class="mb-3">
                    <ng-container *ngFor="let star of getRatingStars(course.rating)">
                      <small class="fa fa-star text-yellow"></small>
                    </ng-container>
                    <small *ngIf="hasHalfStar(course.rating)" class="fa fa-star-half text-yellow"></small>
                    <small>({{ course.reviews }})</small>
                  </div>
                <h5 class="mb-4"> <a href="#"> {{ course.title }}</a></h5>
                </div>
              </div>
            </div>
          </div>
          
    </div>
</div>
<!-- Courses End -->

 <!-- Courses Start -->
 <div class="container-xxl py-5 course-yellow">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-yellow px-3">Products</h6>
            <h1 class="mb-5">Trending Products</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-3 col-md-6 wow fadeInUp" *ngFor="let course of courses; let i = index" [attr.data-wow-delay]="(i+1) * 0.2 + 's'">
              <div class="course-item bg-yellow">
                <div class="position-relative overflow-hidden">
                  <img class="img-fluid" [src]="course.image" alt="">
                  <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                    <a href="#" class="flex-shrink-0 btn btn-sm btn-warning px-3 border-end" style="border-radius: 30px 0 0 30px;">
                      <i class="fa fa-cart-plus text-black me-2"></i></a>
                    <a href="#" class="flex-shrink-0 btn btn-sm btn-warning px-3" style="border-radius: 0 30px 30px 0;">
                      <i class="far fa-heart text-back me-2"></i>
                    </a>
                  </div>
                </div>
                <div class="text-center p-4 pb-0">
                    <h3 class="mb-0">{{ course.price }}</h3>
                    <div class="mb-3">
                      <ng-container *ngFor="let star of getRatingStars(course.rating)">
                        <small class="fa fa-star text-yellow"></small>
                      </ng-container>
                      <small *ngIf="hasHalfStar(course.rating)" class="fa fa-star-half text-yellow"></small>
                      <small>({{ course.reviews }})</small>
                    </div>
                  <h5 class="mb-4"> <a href="#"> {{ course.title }}</a></h5>
                  </div>
              </div>
            </div>
          </div>
          
    </div>
</div>
<!-- Courses End -->

   <!-- Testimonial Start -->
   <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Client Say!</h1>
        </div>
        <div class=" testimonial-carousel position-relative">
            <owl-carousel-o [options]="customTestOptions" >
                <ng-container *ngFor="let testimonial of testimonials" >
                  <ng-template carouselSlide>
                    <div class="testimonial-item text-center">
                      <img class="border rounded-circle p-2 mx-auto mb-3" [src]="testimonial.img" style="width: 80px; height: 80px;">
                      <h5 class="mb-0">{{ testimonial.name }}</h5>
                      <p>{{ testimonial.profession }}</p>
                      <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">{{ testimonial.text }}</p>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
        </div>
    </div>
</div>
<!-- Testimonial End -->

  <!-- Contact Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
            <h1 class="mb-5">Contact For Any Query</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Get In Touch</h5>
                <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Office</h5>
                        <p class="mb-0">123 Street, New York, USA</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Mobile</h5>
                        <p class="mb-0">+012 345 67890</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-primary">Email</h5>
                        <p class="mb-0">info&#64;example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <!-- <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                    frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe> -->
                    <iframe class="position-relative rounded w-100 h-100" 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113832.60487220508!2d77.3963134954883!3d28.512784472945757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5a43173357b%3A0x37ffce30c87cc03f!2sNoida%2C%20Uttar%20Pradesh!5e1!3m2!1sen!2sin!4v1739470224373!5m2!1sen!2sin"
                    frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->