.btn-quantity {background: #bcbab7; border: 1px solid #aca497; color: #121212; font-size: 105%; font-family: 'Nunito'; min-width: 34px; min-height: 32px; padding: 0px; text-align: center;
    &.decrease {border-radius: 4px 0px 0px 4px;}
    &.increase {border-radius: 0px 4px 4px 0px;}
}
.quantity-space {background: #fff;  font-size: 110%; font-family: 'Nunito'; font-weight: 500; padding: 0 16px; min-width: 34px; min-height: 32px; text-align: center; line-height: 1.6; border-top: 1px solid #aca497; border-bottom: 1px solid #aca497;z-index: 1;}
.Cart_cartTotal__M2Pt3 { background-color: #f5f5f5; padding: 32px; height: 500px; display: flex; flex-direction: column; }
.table.table-borderless {td {vertical-align: middle; 
    h6 {font-size: 17px;}}
}
.checkout_btn {
    margin: 0 -32px -32px;
    button {padding: 10px 46px; width: 100%;}
}
.br-1 {border-right: 1px solid #ddd;}
.btn-whis {background: #fff; border: 1px solid #83690b; color: #83690b;  padding: 9px 18px; border-radius: 4px; display: flex; align-items: flex-end; gap: 4px; line-height: 1;
    svg {fill: #83690b;  width: 18px; height: 18px;}
&:hover {border: 1px solid #6b5505; 
svg {fill: #6b5505;}}}
.cart-details {.shipping { p{font-size: 14px;}}
}