.navbar-brand {
    border: 1px solid #fff;
    &:after {
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4);
    }
}
::ng-deep .navbar {
    .text-primary {color: var(--red) !important;}
    .btn-primary {background-color: var(--red) !important; border-color: var(--red);}
    .navbar-nav .nav-link.active { color: var(--red) !important;}
    .navbar-nav .nav-link:hover { color: var(--red) !important;}
    .navbar-nav .nav-link:focus{ color: var(--red) !important;}
} 